@font-face {
  font-family: Cera-Pro-Light;
  src: url(../fonts/Cera-Pro-Light.otf);
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: Cera-Pro-Medium;
  src: url(../fonts/Cera-Pro-Medium.otf);
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: Cera-Pro-Regular;
  src: url(../fonts/Cera-Pro-Regular.otf);
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
@font-face {
  font-family: Cera-Pro-Bold;
  src: url(../fonts/Cera-Pro-Bold.otf);
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}