//import file style
@import'fonts';
//END import file style

//sass varible
$font-braun: #292929;
$font-braun-light: #1b1c1f;
$font-blue: #00458f;
$font-red: #ff4f31;
$font-grey: #8399b0;
//END sass varible

//sass mixin
@mixin main-btn($color, $bg-color, $padding, $bor-radius){
  color: $color;
  background: $bg-color;
  padding: $padding;
  border-radius: $bor-radius;
}
@mixin box-shadow($h-length, $v-length, $blur, $color){
  -o-box-shadow:$h-length $v-length $blur $color;
  -moz-box-shadow:$h-length $v-length $blur $color;
  -webkit-box-shadow:$h-length $v-length $blur $color;
  box-shadow:$h-length $v-length $blur  $color;
}
//END sass mixin

html {
  position: relative;
  min-height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.container{
  padding-left: 0;
  padding-right: 0;
  //max-width: 1170px;
}

.row {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
a{
  text-decoration: none;
  border-color:transparent;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
a:active, a:focus { outline: none; }
input {
  outline: 0 !important;
}
button:active, button:focus {
  outline: none;
}
.form-control:focus,
.btn:focus {
  outline: 0;
  box-shadow:none;
}
button::-moz-focus-inner {
  border: 0;
}
input {outline: none;}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
  -webkit-text-fill-color: #303549 !important;
  color: #303549 !important;
}

body {
  font-family: Cera-Pro-Regular, sans-serif;
  margin-bottom: 320px;
}

/*slider  background display*/
.body_slides{
  list-style:none;
  margin:0;
  padding:0;
  z-index:-2;
  background:#000;}
.body_slides,
.body_slides:after{
  position: fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;}
//.body_slides:after {
//  content: '';
  //background: transparent url(../img/png/grafic2.png) repeat top left;}


.body_slides li{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background-size:cover;
  background-repeat:no-repeat;
  opacity:0;
  -webkit-animation: anim_slides 18s linear infinite 0s;
  -moz-animation: anim_slides 18s linear infinite 0s;
  -o-animation: anim_slides 18s linear infinite 0s;
  -ms-animation: anim_slides 18s linear infinite 0s;
  animation: anim_slides 18s linear infinite 0s;
}
.body_slides li:nth-child(1){
  background-image: url(../img/png/banner1.png)
}
.body_slides li:nth-child(2){
  -webkit-animation-delay: 6.0s;
  -moz-animation-delay: 6.0s;
  background-image: url(../img/png/banner2.png)
}
.body_slides li:nth-child(3){
  -webkit-animation-delay: 12.0s;
  -moz-animation-delay: 12.0s;
  background-image: url(../img/png/banner3.png)
}
@-webkit-keyframes anim_slides {
  0% {opacity:0;}
  3% {opacity:1;}
  24% {opacity:1;}
  47% {opacity:0;}
  100% {opacity:0;}
}
@-moz-keyframes anim_slides {
  0% {opacity:0;}
  6% {opacity:1;}
  24% {opacity:1;}
  47% {opacity:0;}
  100% {opacity:0;}
}

/*END slider display*/

.wrapper {
  min-width: 320px;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
}

/*  HEADER	*/

.header-reg{
  background-color: #51585f;
  color:#fff;
}
.header-reg-course ul li{
  font-size: 12px;
  text-transform: uppercase;
  padding: 10px 10px;
}

.header-reg .btn {
  font-size: 14px;
  padding: 5px 20px 10px;
  border-radius: 0;
  line-height: 0;
  color: #fff;
  background-color: #464b50;
}
.header-reg .btn:hover span,
.header-reg .btn:hover,
.header-reg .btn:focus{
  box-shadow: none;
  color: #00458f;
  border-bottom: 1px dashed #00458f;
}
.header-reg .btn img {
  margin-right: 10px;
}
.header-reg .btn span{
  border-bottom: 1px dashed #fff;
}



/* menu site*/
.header-menu {
  padding: 30px 0;
}
.header-menu-tel a,
.header-menu-email a{
  font-size: 16px;
  color:#292929;
}
.header-menu-tel a span{
  margin-top: -10px;
}
.header-menu-tel a img,
.header-menu-email a img{
  margin-right: 14px;
  float: left;
}
.header-menu-tel a:hover,
.header-menu-email a:hover{
  text-decoration: none;
  color:#00458f;
}
.header-menu-tel-callback{
  margin: 0 0 0 3rem;
  color: #00458f !important;
  border-bottom: 1px dashed #00458f;
}
.header-menu-tel-callback:hover{
  color: #ff4f31 !important;
  border-bottom: 1px dashed #ff4f31;
}
.header-bg .navbar,
.header-menu .navbar{
  border-radius: 40px;
  margin: 2rem 0;
  padding: 0;
}
.header-bg .navbar-nav .nav-item,
.header-menu .navbar-nav .nav-item{
  padding: 1rem 0;
}
.header-bg .navbar-expand-md .navbar-nav .nav-link,
.header-menu .navbar-expand-md .navbar-nav .nav-link {
  padding: 0 2rem;
  border-right: 1px solid #c1c3c7;
  color: #838790;
  font-size: 16px;
}
.header-bg .navbar-expand-md .navbar-nav .reviews,
.header-menu .navbar-expand-md .navbar-nav .reviews{
  border-right: none;
}
.header-bg .navbar-expand-md .navbar-nav .nav-link:hover,
.header-menu .navbar-expand-md .navbar-nav .nav-link:hover{
  color:#00458f;
}
.header-bg .menu-enter,
.header-menu .menu-enter{
  display: inline-flex;
  background: #ff4f31;
  color: #fff;
  padding: 1rem 2.652rem;
  border-radius: 40px;
  margin-left: 6px;
}
.invest-now a:hover,
.header-bg .menu-enter:hover,
.header-menu .menu-enter:hover{
  text-decoration: none;
  background: #00458f;
}
.header-bg .menu-enter img,
.header-menu .menu-enter img{
  margin: 3px 5px -3px 0;
}
.header-menu-slogan {
  margin: 7rem 0;
}
.header-menu-slogan h1{
  font-family: Cera-Pro-Light, sans-serif;
  line-height: 3rem;
  font-size: 2.5rem;
  color: #232439;
}
.start-working h1,
.header-menu-slogan h1 span{
  font-family: Cera-Pro-Medium, sans-serif;
  color: #ff4f31;
  font-size: 3.2rem;
}
.header-menu-slogan p{
  font-size: 1.2rem;
  color:#7c7d85;
  margin: 5rem 0 3rem;
}
.header-menu-slogan a{
  border-radius: 40px;
  padding: 1rem 2rem;
}
.header-menu-slogan-bt1{
  color: #fff;
  background: #00458f;
}
.header-menu-slogan-bt2{
  color: #232439;
  background: #eaeaeb;
  border: 1px solid #c1c3c7;;
  margin-left: 1rem;
}
.header-menu-slogan-bt2:hover,
.header-menu-slogan-bt1:hover{
  text-decoration: none;
  background: #ff4f31;
  color:#fff;
}

/*END menu site*/

/*MAIN*/
main{
  background-color: #fff;
}
/*carousel*/
.carousel{
  background: #51585f;
  padding: 3rem;
  font-size: 16px;
  color:#fff;
  text-transform: uppercase;
}
.owl-carousel .item{
  width: 200px;
  text-align: center;
  margin: 0 auto;
}
.owl-place .item{
  width: 150px;
  text-align: left;
  margin: 0 auto;
}
.owl-carousel .owl-nav {
  position: absolute;
  top: 38%;
  width: 100%;
}
.owl-carousel .owl-item img {
  display: inline-block;
  width: 40px;
  height: 40px;
}

//carousel #2
.owl-place .owl-nav {
  position: absolute;
  top: 38%;
  width: 100%;
}
.owl-place .owl-nav button img{
  width: 20px;
  height: 40px;
}

.owl-place .owl-prev{
  float: right;
}
.owl-place .owl-next{
  float: left;
  transform: rotate(180deg);
  margin-left: -2%;
}
/*END carousel*/
.invest{
  padding: 5rem 0;
}
.invest h1{
  font-size: 3rem;
  color: #ff4f31;
}
.invest h1 span{
  color: #00458f;
}
.invest p{
  font-size: 1.6rem;
  color: #232439;
}
.invest-blocks{
  display: flex;
  margin: 5rem 0;

}
.invest-blocks .invest-blocks-text{
  padding: 2rem 1rem 2rem 3rem;
  background-color: #f7fafc;
  overflow: hidden;
}
.invest-blocks .invest-blocks-text a {
  font-family: Cera-Pro-Medium, sans-serif;
  font-size: 16px;
  color: #00458f;
  text-transform: uppercase;
}
.invest-blocks .invest-blocks-text a:hover{
  text-decoration: none;
  color: #ff4f31;
}
.invest-blocks img{
  margin: 1rem -2.3rem 0 0;
  width: 4.5rem;
  height: 4.5rem;
  z-index: 1;
}
.invest-blocks h4 {
  font-size: 1.5rem;
  color: #1b1c1f;
  margin-bottom: 1rem;
}
.invest-blocks p {
  font-size: 1rem;
  color: #a5a7a9;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}
.invest-terminal h4{
  font-family: Cera-Pro-Medium, sans-serif;
  font-size: 1.8rem;
  color:#1b1c1f;
  border-left: 5px solid #ff4f31;
  margin-left: 4px;
  padding-left: 20px;

}
.invest-terminal p{
  font-family: Cera-Pro-Light, sans-serif;
  font-size: 1.3rem;
  color:#1b1c1f;
  margin: 2rem 0;
  line-height: 1.6rem;
}
.invest-terminal-os{
  margin: 0 0 3rem 0;
}
.invest-terminal-os a img{
  margin: 0 1rem;
  box-shadow: 0 5px 20px #ededed;
}
.invest-terminal-load a{
  color:#fff;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  display: inline-block;
  margin: 0.5rem 0;
}
.invest-terminal-load a img {
  margin: 0 10px 0 0;
}
.invest-terminal-load .invest-terminal-load--ps{
  background-color: #ff4f31;
}
.invest-terminal-load .invest-terminal-load--mob{
  background-color: #00458f;
}
.invest-terminal-load .invest-terminal-load--instructin{
  color: #00458f;
}
.invest-terminal-load .invest-terminal-load--instructin span{
  border-bottom: 1px dashed #00458f;
}
.invest-terminal-load .invest-terminal-load--mob:hover,
.invest-terminal-load .invest-terminal-load--ps:hover{
  text-decoration: none;
  background-color: #1b1c1f;
  color:#fff;
}
.invest-terminal-load .invest-terminal-load--instructin:hover,
.invest-terminal-load .invest-terminal-load--instructin span:hover{
  text-decoration: none;
  color:#1b1c1f;
  border-color: #1b1c1f;
}

.invest-terminal-leptop ul{
  list-style: none;
}
.invest-terminal-leptop ul li{
  padding: 0.5rem;
}
.invest-terminal-leptop ul li img{
  float: left;
  margin: 0.5rem 1rem;

}
.invest-terminal-leptop--img{
  width: 100%;
}
.invest-terminal-leptop ul li p{
  font-family: Cera-Pro-Light, sans-serif;
  overflow: hidden;
  color:#1b1c1f;
  font-size: 16px;
  line-height: 1.5rem;
  margin: 0;
}
.cofe-img{
  margin: -20rem 0 0 0;
}
.cofe-img img:last-child{
  float: right;
}

/*platform */
.platform{
  //background-image: url(../img/png/grafic2.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 5rem 0 11rem;
}
.platform h1{
  font-family: Cera-Pro-Medium, sans-serif;
  font-size: 3rem;
  color:#ff4f31;
}
.platform p{
  font-family: Cera-Pro-Light, sans-serif;
  font-size: 1.6rem;
  color:#232439;
}
.platform ul{
  list-style: none;
  margin: 3rem 0;
}
.platform ul li{
  text-transform: uppercase;
  font-size: 0.75rem;
  color: #1b1c1f;
  padding: 0.5rem 0;
}
.invest-now{
  background-image: url(../img/png/handshake.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3rem 0 5rem;
  text-align: center;
}
.invest-now h1{
  font-family: Cera-Pro-Medium, sans-serif;
  font-size: 3rem;
  color:#fff;
}
.invest-now p{
  font-family: Cera-Pro-Light, sans-serif;
  font-size: 1.6rem;
  color:#fff;
  margin: 1rem 0 3rem;
}
.invest-now p span{
  font-family: Cera-Pro-Bold, sans-serif;
}
.invest-now a{
  background:#ff4f31;
  color:#fff;
  border-radius: 40px;
  padding: 0.8rem 2rem;
}
.refill{
  padding: 7rem 0;
}
.refill h2{
  font-family: Cera-Pro-Medium, sans-serif;
  font-size: 1.9rem;
  color: #1b1c1f;
  border-left: 5px solid #ff4f31;
  padding: 0 0 0 1rem;
}
.refill ul{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.refill ul li{
  padding: 1rem 2rem 0 2rem;
}
/*END platform*/
/*END MAIN*/

/*END FOOTER*/

footer {
  position: absolute;
  font-family: BlissPro-Regular, sans-serif;
  bottom: 0;
  width: 100%;
  height: 320px;
  background-color: #40454a;
  padding: 2rem 0;
}
.footer{
  padding-left: 0;
}
footer ul li{
  list-style: none;
  padding: 0.5rem 0;
}
footer ul li a{
  text-decoration: none;
  color:#fff;
}
footer ul li a:hover{
  text-decoration: none;
  color:#ff4f31;
}
footer ul li img{
  padding: 0 0.5rem;
  margin: 0 0 -0.2rem 0;
}
footer .footer-logo{
  margin-bottom: 2rem;
}
.footer-menu ul li{
  font-family: Cera-Pro-Light, sans-serif;
  text-transform: uppercase;
  padding: 1rem 0;
  font-size: 13px;
}

.footer-form-question{
  background-color: #00458f;
  color:#fff;
  padding: 2rem 3rem;
  line-height: 1.5rem;
  margin: -6rem 0 0 0;
}
.footer-form-question img{
  width: 50px;
  height: 60px;
  float: left;
  margin-right: 1rem;
}
.footer-form-question form input{
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 2rem 0.3rem 0.5rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;

}
/*style for placeholder*/
.footer-form-question ::placeholder{
  color: #fff;
  opacity: 1; /* Firefox */
}
.footer-form-question form input{
  border-bottom: 2px solid #fff;
}
.footer-form-question form button{
  background-color: #fff;
  padding: 1rem 2rem;
  color: #ff4f31;
  border-radius: 40px;
  border: none;
  margin: 1rem 0;
}
.footer-form-question form button:hover{
  background-color: #ff4f31;
  color:#fff;
}
.transition {
  transition: 1s;
}
.footer-form p{
  font-size: 12px;
}
.footer-dev{
  background-color: #373a3e;
  color:#fff;
  font-size: 0.8rem;
  padding: 1rem 1rem 1rem 5rem;
  bottom: 0;
}

/*-------------------------------------page fast-registration--------------------------*/
.header-bg{
  padding-bottom: 5rem;
}
.header-bg-color{
  padding: 2rem 0 4rem 0;
  background-color: #f7fafc;
}
.header-bg .navbar {
  margin: -1.5rem 0;
}

.header-bg .bg-light {
  background-color: #fff !important;
  box-shadow: 0 3px 20px #ededed;
}
.header-menu-search .input-group{
  width: 87%;
}
.header-menu-search .form-control {
  border-radius: 20px 0 0 20px ;

}
.header-menu-search .btn {
  padding: 0 0.5rem;
  border-radius: 0 20px  20px 0;
  background-color: $font-blue;
}
.header-menu-search .btn svg {
 margin-top: -0.2rem;
  fill: #fff;
  width: 16px;
  height: 16px;
}
.header-menu-search .btn svg:hover {
  fill: #ff4f31;
}
.breadcrumb {
  font-family: Cera-Pro-Light, sans-serif;
  padding: .75rem 1rem;
  margin-top: 3rem;
  background-color: transparent;
  line-height: 2rem;
}
.breadcrumb .breadcrumb-item a{
  color: $font-braun;
}
.breadcrumb .active a{
  color: #85858c;
}
.header-bg .header-menu-slogan {
  margin: 2rem 0;
}
.start-working h3,
.vip-invoice h3,
.header-bg .header-menu-slogan h3{
  font-family: Cera-Pro-Light, sans-serif;
  color: $font-braun;
  font-size: 1.5rem;
  margin: 1rem 0 1rem;
}
.vip-invoice p,
.header-bg .header-menu-slogan p{
  font-family: Cera-Pro-Light, sans-serif;
  color: $font-braun-light;
  font-size: 1rem;
  margin: 1rem 0 3rem;
}
.header-bg .header-menu-slogan form label {
  font-family: Cera-Pro-Regular, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  padding: 1rem 1rem 0.5rem 1rem;
}
.header-bg .header-menu-slogan form .form-control {
  width: 50%;
  color: #495057;
  background-color: #fbfcfd;
}
.header-bg .header-menu-slogan form #pwd,
.header-bg .header-menu-slogan form #pwd2 {
 font-size: 1.8rem;
}
.header-bg .header-menu-slogan form p{
  font-family: Cera-Pro-Light, sans-serif;
  font-size: 0.9rem;
  color:#aaaaaf;
  margin: 0 0 0 2.5rem;
}
.header-bg .header-menu-slogan .label{
  display: inline;
  font-family: Cera-Pro-Light, sans-serif;
  text-transform: none;
  font-size: 1rem;
}
.header-bg .header-menu-slogan .label a{
  padding: 0;
  text-decoration: underline;
}
//style for checkbox
.checkbox {
  display: none;
}
.checkbox-custom {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0 1rem 0 -1rem;
  border: 1px solid $font-braun;
  border-radius: 6px;
}
.checkbox-custom,
.label {
  display: inline-block;
  vertical-align: middle;
}
.checkbox:checked + .checkbox-custom::before {
  content: "\2714";
  display: block;
  position: absolute;
  font-size: 16px;
  top: 1px;
  right: 0;
  bottom: 2px;
  left: 3px;
}

//ENDstyle for checkbox
.header-menu-slogan form button{
  font-family: Cera-Pro-Regular, sans-serif;
  @include main-btn(#fff, #ff4f31, 0.78rem 3.1rem, 40px);
}
.header-menu-slogan form button:hover{
  @include main-btn(#fff, $font-blue, 0.78rem 3.1rem, 40px);
}

/*--------------------------------END page fast-registration---------------------------*/

/*--------------------------------page paid---------------------------*/
.vip-invoice h1,
.paid h1 {
  font-family: Cera-Pro-Medium, sans-serif;
  color: #ff4f31;
  font-size: 3.2rem;
  margin: 2rem 0;
}
.paid img{
  width: 100%;
}
.paid-data ul li{
  list-style: none;
  padding: 1rem 0 1rem 0;
  font-size: 1rem;
  color: $font-grey;
  line-height: 1.5rem;
}
.paid-data ul .paid-data-news {
  display: flex;
}
.paid-data-news span{
  background-color: #e9edf1;
  font-size: 12px;
  color: $font-grey;
  padding: 0.3rem 0.5rem;
}
.paid-data-news span svg{
  width: 1rem;
  height: 0.9rem;
  fill: $font-grey;
  margin: 0 5px 0 0;
}
.paid-data-news p{
  text-transform: uppercase;
  color: #00458f;
  margin: 0.3rem 4rem;
}

.social-networks{
  display: flex;
  justify-content: space-between;
  margin: 5rem 0;
}
.social-networks a {
   text-decoration: underline;
   color: #00458f;
 }
.social-networks a:hover {
  color:$font-grey;
}
.social-networks ul li{
 list-style: none;
  font-size: 1rem;
  color:$font-grey;
  padding: 0 1rem;
}
.social-networks ul li svg{
  list-style: none;
  width: 2rem;
  height: 2rem;
  margin-top: -0.5rem;
  fill:$font-grey;
}
.social-networks ul li svg:hover{
  fill:#00458f;
}
/*--------------------------------END paid---------------------------*/

/*--------------------------------vip-invoice---------------------------*/
.vip-invoice img{
 margin: 8rem 0 0 1rem;
  width: 100%;
}
.vip-offer{
  padding: 0;
}
.vip-offer .invest-blocks {
  display: flex;
}
.trader-advice h2,
.vip-offer h2{
   font-family: Cera-Pro-Medium, sans-serif;
   font-size: 2.2rem;
   color:$font-braun-light;
}
.trader-advice .vip-offer-btn,
.vip-offer .vip-offer-btn {
  font-family: Cera-Pro-Regular, sans-serif;
  @include main-btn(#fff, #ff4f31, 1rem 3.1rem, 40px);
  margin: 3rem 0 10rem;
  height: 3rem;
}

/*--------------------------------END vip-invoice---------------------------*/

/*--------------------------------record-construction---------------------------*/
.consultation .select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #85858c;
}
.consultation .select2-container .select2-selection--single {
  height: 40px;
  width: 348px !important;
  background-color: #fbfcfd;
  border: 1px solid #ced4da;
}
.select2-container .select2-selection--single .select2-selection__rendered {
  padding-top: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  top: 7px;
  width: 11px;
  right: -80px;
}
.select2-container--open .select2-dropdown--below {
  width: 348px !important;
}
/*--------------------------------END record-construction---------------------------*/

/*--------------------------------trader-advice---------------------------*/
.trader{
  padding-bottom: 0;
}
.trader-advice{
 padding: 0;
}
.trader-advice-consul .trader-advice-type{
  text-align: center;
  margin: 3rem 0;
}
.trader-img1{
  background: #a7bfd7;
  padding: 1rem 0;
  border-radius: 50%;
  width: auto;
  height: 75px;
}
.trader-img2{
  background: #8ea7c1;
  padding: 1rem 0;
  border-radius: 50%;
  width: auto;
  height: 75px;
}
.trader-img3{
  background: #758ea7;
  padding: 1rem 0;
  border-radius: 50%;
  width: auto;
  height: 75px;
}
.trader-advice-consul p{
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-top: 1rem;
  line-height: 20px;
}

/*--------------------------------END trader-advice---------------------------*/

/*--------------------------------start-working-------------------------------*/
.start-working-item{
  margin: 1rem 0;
}
.start-working-item span{
  display: block;
  font-family: Cera-Pro-Bold, sans-serif;
  font-size: 2rem;
  color:#fff;
  background-color: #a7bfd7;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  padding: 1rem 1.8rem 1rem 1.6rem;
}
.start-working-item h4{
 font-size: 2rem;
  color:#1b1c1f;
  margin:0 0 1rem 0;
}
.start-working-item p{
  font-family: Cera-Pro-Light, sans-serif;
  font-size: 1rem;
  color:$font-grey;
  line-height: 1.5rem;
}
.start-working-item-text{
  padding: 0 0 0 2rem;
}

.start-working-item .btn-start1{
  @include main-btn(#fff, #ff4f31, 0.78rem 2.1rem, 40px);
  margin: 1rem 0 2rem;
  width: 250px;
}
.start-working-item .btn-start2{
  @include main-btn(#fff, #51585f, 0.78rem 2.1rem, 40px);
  margin: 1rem 0 2rem;
  width: 250px;
}
.start-working-item .btn-start3{
  @include main-btn(#fff, #00458f, 0.78rem 2.1rem, 40px);
  margin: 1rem 0 2rem;
  width: 250px;
}
.start-working-item .btn-start4{
  @include main-btn(#fff, #ff4f31, 0.78rem 2.1rem, 40px);
  margin: 1rem 0 2rem;
  width: 250px;
}
.start-working-item .btn-start1:hover,
.start-working-item .btn-start2:hover,
.start-working-item .btn-start3:hover,
.start-working-item .btn-start4:hover {
   background-color:$font-grey ;
  }

/*--------------------------------END start-working---------------------------*/








/*--------------------------media-------------------------------------------------------------------------------------*/
@media screen and (max-width: 1199px) {
  /*header-menu*/
  .header-bg .menu-enter,
  .header-menu .menu-enter {
    margin-left: 1.1rem;}
  .header-bg .navbar-expand-md .navbar-nav .nav-link,
  .header-menu .navbar-expand-md .navbar-nav .nav-link {
    padding: 0 1rem;}

  .footer-form-question {
    padding: 2rem 1rem;}
  .footer-form-question h5{
    font-size: 13px;
  }

  /*END footer*/

}
@media screen and (max-width: 992px) {
  /*header-menu*/
  .header-menu-search .input-group {
    width: 100%;
  }
  .header-bg .menu-enter,
  .header-menu .menu-enter {
    padding: 1rem 0.4rem;
    margin-left: 0;
  }
  .header-reg .btn {
    padding: 5px 10px 10px;}

  .header-bg .navbar-expand-md .navbar-nav .nav-link,
  .header-menu .navbar-expand-md .navbar-nav .nav-link {
    padding: 0 0.6rem;
    font-size: 14px;}

  .header-menu-tel a, .header-menu-email a {
    font-size: 13px;
    margin-left: 0;
  }
  .cofe-img {
    display: none;
  }
  /*footer*/
  .footer-form-question form input {
    padding: 0.5rem 0.3rem 0.1rem;
    font-size: 11px;
  }
  .footer-form-question form button {
    padding: 0 1.8rem;
    font-size: 12px;}
  footer ul li a {
    font-size: 11px;
  }
  /*END footer*/

  //paid
  .paid-data-news p{
    margin: 0.3rem 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  body {
    margin-bottom: 816px;
  }
  .navbar-light .navbar-toggler {
    border-color: transparent;
  }
  .navbar-collapse {
    text-align: center;
  }
  .header-bg .menu-enter,
  .header-menu .menu-enter {
    padding: 1rem 2.4rem;
    margin-bottom: 1rem;}

  .platform {
    padding: 2rem 0 0;
  }
  .platform ul {
    list-style: none;
    margin: 0.7rem 0;
  }
  .invest-blocks {
    margin: 2rem 0;
  }
  /*footer*/
  footer {
    height: 816px;
    padding-bottom: 0}
  .footer{
    padding-left: 1rem;
  }
  .footer-form-question {
    margin-bottom: 1rem;
  }
  .footer-menu ul li {
    padding: 1rem 1rem;
  }
  footer ul li a {
    font-size: 14px;
  }
  //vip-invoice
  .vip-invoice img {
    margin: 0;
  }
  //record-consultation
  .consultation .select2-container .select2-selection--single {
    width: 290px !important;
  }
  .select2-container--open .select2-dropdown--below{
    width: 290px !important;
  }
  .consultation .select2-container--default .select2-selection--single .select2-selection__arrow {
    right: -10px;
  }
  .rec-consul .header-menu-slogan  .form-control {
    width: 290px !important;}

  //trade-advice
  .trader-advice .vip-offer-btn{
    margin: 3rem 0 2rem;

  }
  .trader .vip-invoice{
    text-align: center;
  }
  .trader-advice-consul .trader-advice-type {
    text-align: center;
    margin: 1rem 0;
  }


}

@media screen and (max-width: 600px) {
  .header-reg .btn {
    margin-bottom: 0.5rem;}
  .header-menu-email{
    margin: 1.5rem 0;}

  .invest {
    padding: 2rem 1rem;
  }
  .platform{
    padding: 2rem 1rem;
    text-align: center;
  }
}

@media screen and (max-width: 565px) {
  .header-menu-search .input-group {
    margin-top: 1rem;
  }
  //fast-registration
  .header-bg .header-menu-slogan {
    margin: 2rem 1rem;
  }
  .header-bg .header-menu-slogan form .form-control {
    width: 100%}
  .rec-consul .header-menu-slogan  .form-control {
    width: 290px !important;}
  //paid
  .social-networks {
    flex-wrap: wrap;
    margin: 2rem 0;
  }
  .social-networks ul li {
    padding: 2rem 1rem 0;
  }
  .social-networks a {
    margin-left: 1rem;
  }
  .paid h1 {
    font-size: 2.2rem;}
  .paid-data ul .paid-data-news {
    display: block;
  }
  .vip-invoice h1, .paid h1 {
    font-size: 2.2rem;
  }
  //trader-advice

  .trader-advice h2, .vip-offer h2 {
    font-size: 1.5rem;}
  .trader-advice {
    text-align: center;
  }
}
@media screen and (max-width: 500px) {
  .header-menu-slogan a {
    display: inline-block;
  }
  .header-menu-slogan-bt2 {
    margin: 1rem 0;
  }
  .invest-terminal-load a img {
    float: left;
  }
  .invest-terminal-load .invest-terminal-load--instructin {
    margin-bottom: 3rem;
  }

}
@media screen and (max-width: 400px) {

  .invest h1,
  .platform h1,
  .invest-now h1,
  .header-menu-slogan h1 span {
    font-size: 2rem;
    text-align: center;
  }
  .header-menu-slogan h1 {
    font-family: Cera-Pro-Light, sans-serif;
    line-height: 2rem;
    font-size: 1.5rem;}

}

