//import file style
@import'fonts';
//END import file style

//sass varible
$font-braun: #292929;
$font-braun-light: #1b1c1f;
$font-blue: #00458f;
$font-red: #ff4f31;
$font-grey: #8399b0;
//END sass varible

//sass mixin
@mixin main-btn($color, $bg-color, $padding, $bor-radius){
  color: $color;
  background: $bg-color;
  padding: $padding;
  border-radius: $bor-radius;
}
@mixin box-shadow($h-length, $v-length, $blur, $color){
  -o-box-shadow:$h-length $v-length $blur $color;
  -moz-box-shadow:$h-length $v-length $blur $color;
  -webkit-box-shadow:$h-length $v-length $blur $color;
  box-shadow:$h-length $v-length $blur  $color;
}
//END sass mixin

html {
  position: relative;
  min-height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.container{
  padding-left: 0;
  padding-right: 0;
  max-width: 1170px;
}
.row {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
a{
  text-decoration: none;
  border-color:transparent;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
a:active, a:focus { outline: none; }
input {
  outline: 0 !important;
}
button:active, button:focus {
  outline: none;
}
.form-control:focus,
.btn:focus {
  outline: 0;
  box-shadow:none;
}
button::-moz-focus-inner {
  border: 0;
}
input {outline: none;}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
  -webkit-text-fill-color: #303549 !important;
  color: #303549 !important;
}

body {
  font-family: Cera-Pro-Regular, sans-serif;
}
.wrapper {
  min-width: 320px;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
}
/*------------header--------*/
.my-photo {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  background: #2b2c2c;
  padding: 6rem 7rem 0 0;
}
.my-photo img{
  width:14rem;
  height: 14rem;
  border-radius: 50%;
  background: #fff;
}
.name{
  background: #2d2e2e;
  padding:0 0 3rem 5rem;
}
.name .lang-btn {
  position: relative;
  text-decoration: none;
  color: #979899;
  font-size: 1rem;
  padding: 0.1rem 0.8rem;
  text-transform: uppercase;
  background: #2b2c2a;
  margin-bottom: 6rem;
  left: 85%;
}
.name .lang-btn:hover{
  color: #e0a80d;
}
.footer-social h1,
.name h1{
  font-size: 3.8rem;
  color: #979899;
  text-transform: lowercase;
}
.footer-social h1 span,
.name h1 span{
  font-family: Cera-Pro-Bold, sans-serif;
  color: #e0a80d;
  text-transform: uppercase;
  font-size: 5.8rem;
}
.prof-name{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.prof-name h3{
  font-family: Cera-Pro-Light, sans-serif;
  color: #979899;
  font-size: 1.5rem;
  margin:1rem 20rem 1rem 0;
}
.social-icons svg{
  fill: #979899;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 0.2rem;
  border-radius: 3px;
}
.social-icons svg:hover{
  fill: #e0a80d;
}
//.name hr{
//  background: #404242;
//  margin-top: 10rem;
//}
.name .d-flex{
  border-top: 1px solid  #404242;
  padding: 1rem 0;
  margin-top: 10rem;
}
.name ul li {
  font-family: Cera-Pro-Medium, sans-serif;
  list-style: none;
  color: #979899;
  padding-right:10rem ;
}
.name ul li p a,
.name ul li p{
  font-family: Cera-Pro-Light, sans-serif;
  margin: 1rem 0;
  color: #979899;
  text-decoration: none;
}
.name ul li p a:hover{
  color: #e0a80d;
}

/*------------END header--------*/


/*------------main--------*/

/*------------intro--------*/
.expertise-title, .skills-title, .experiens-title, .education-title, .certificate-title, .portfolio-title, .contact-title,
.intro-title{
  background: #292a2a;
  color: #979899;
  padding: 4rem 5rem;
  text-align: right;
}
.expertise-title h3, .expertise-text h3, .skills-title h3, .certificate-title h3, .portfolio-title h3, .contact-title h3,
.experiens-title h3, .experiens-text ul li h3, .education-text ul li h3, .education-title h3, .certificate-text h3,
.intro-title h3{
  font-family: Cera-Pro-Medium, sans-serif;
  font-size:18px;
  text-transform: uppercase;
}
.expertise-title p, .skills-title p, .experiens-title p, .education-title p, .certificate-title p,
.portfolio-title p, .contact-title p,
.intro-title p{
  font-size: 14px;
  margin: 1rem 0;
}
.expertise-text, .skills-text, .experiens-text, .education-text, .certificate-text,
.portfolio-text, .contact-text,
.intro-text{
  font-family: Cera-Pro-Light, sans-serif;
  background: #2b2c2a;
  color: #979899;
  padding: 4rem 5rem;
  text-align: left;
  line-height: 24px;
}
.expertise-text p, .experiens-text p, .education-text p, .certificate-text p, .portfolio-text p, .contact-text p,
.intro-text p{
  margin-bottom: 1rem;
  font-size: 17px;
}
/*------------end intro--------*/

/*------------expertise--------*/
.expertise-title{
background: #2b2c2c;
}
.expertise-text{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  background: #2d2e2e;
}
.expertise-text div {
  width: 300px;
  margin: 0 2rem 2rem 0;
}
.expertise-text h3 span{
  color: #e0a80d;
  margin: 0 0.8rem 0 -1rem;
}
.expertise-text div p{
  font-size: 14px;
}
/*------------end expertise--------*/


/*------------skills--------*/

.skills-text{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.8rem 5rem 4rem;
}
#label-css, #label-bootstrap, #label-flexbox, #label-sass, #label-webpack, #label-js, #label-jquery, #label-git,
#label-vue,
 #label-html {
  display: inline-block;
  font-family: Cera-Pro-Medium, sans-serif;
  color: #e0a80d;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 2rem 1rem 0.3rem 0;
}
.skills-text span{
  font-family: Cera-Pro-Medium, sans-serif;
  color: #979899;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0 1rem 1rem 0;
}
.progress__bar {
  width: 350px;
  position: relative;
  height: 5px;
  background: #404242;
}
#progress__bar-css, #progress__bar-bootstrap, #progress__bar-flexbox, #progress__bar-sass, #progress__bar-webpack,
#progress__bar-js, #progress__bar-vue, #progress__bar-git,
#progress__bar-jquery,
#progress__bar-html {
  position: absolute;
  width: 10%;
  height: 100%;
  background: #e0a80d;
}
/*------------end skills--------*/

/*------------experiens--------*/

.experiens-title{
  background: #2b2c2c;
}
.experiens-text{
  background: #2d2e2e;
  padding: 4rem 5rem 0;
}
.education-text ul li,
.experiens-text ul li{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 2rem 0;
  line-height: 22px;
  border-left: 2px solid #404242;
}
.education-text ul li span,
.education-text ul li time,
.experiens-text ul li span,
.experiens-text ul li time{
  font-size: 0.7rem;
  color:#979899;
}
.education-text ul li h6,
.experiens-text ul li h6{
  font-family: Cera-Pro-Medium, sans-serif;
  font-size: 0.8rem;
  color:#a4a5a6;
}
.education-text ul li p,
.experiens-text ul li p {
  font-size: 0.9rem;
  color: #979899;
  margin-left: 2rem;
  width: 60%;
}
.education-text .timeline-point,
.experiens-text .timeline-point {
  height: 10px;
  width: 10px;
  position: relative;
  left: -6px;
  top: 9px;
  background: #e0a80d;
  border-radius: 50%;
  box-shadow: 0 0 0 9px #2d2e2e;
}
.experiens-time{
  width: 300px;
  margin:0 0 0 1rem;
}
/*------------end experiens--------*/

/*------------education--------*/
.education-title{
  background: #292a2a;
}
.education-text{
  background: #2b2c2a;
  padding: 0 5rem 4rem;
}
.education-text .timeline-point{
  box-shadow: 0 0 0 9px #2b2c2a;
}
.education-text ul .education-last {
  padding-top: 4rem;
}
.education-text ul li:last-child {
  border: none;
}
/*------------end education-------*/

/*------------certificate-------*/
.contact-title,
.certificate-title{
  background: #2b2c2c;
}
//.certificate-text div{
//  width: 40%;
//  margin-right: 2rem;
//}
.certificate-text .portfolio-images {
  height: 14rem;
  margin-top: 1rem;
}
.certificate-text{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  background: #2d2e2e;
}
.certificate-text hr {
  border-top: 5px solid #e0a80d;
  width:35%;
}
.certificate-text div p{
  font-size: 0.9rem;
  color: #979899;
}
/*------------end certificate-------*/

/*------------portfolio-------*/
.portfolio-text{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.portfolio-images{
  position: relative;
  display: inline-block;
  overflow:hidden;
  width: 20rem;
  height: 12em;
  margin: 0 2rem 1.8rem 0;
}

.effect {
  position: relative;
  width: 20rem;
  height: 12rem;
  overflow: hidden;
}

.effect img {
  width: 100%;
  height: 100%;
}

.effect .caption {
  position: absolute;
  top: -100%;
  left: 0px;
  background: rgba(0,0,0,0.7);
  width: 100%;
  height: 100%;
  color: #fff;
  -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
  transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}
.effect:hover .caption {
  top: 0;
}
.effect .caption h4 {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
  margin-top: 20px;
}

.effect .caption p {
  margin: 15px 0;
  text-align: center;
  font-style: italic;
  font-size: 1rem;
  padding: 0 10px;
}

.effect .caption a.btn {
  width: 130px;
  text-align: center;
  display: block;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 0.8rem;
  padding: 5px 0;
  border-radius: 5px;
  margin: 0 auto 0 auto;
}
.effect .caption a.btn:hover{
   color: #e0a80d;
}

/*------------end portfolio-text-------*/

/*------------contact-------*/
.contact-text{
  background: #2d2e2e;
}
.contact-text ul li{
  list-style: none;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0 2rem 0 0;
}
.contact-text ul li p,
.contact-text ul li a{
  font-family: Cera-Pro-Light, sans-serif;
  color: #979899;
  font-size: 0.9rem;
}
.contact-text ul li a:hover,
.contact-text ul li p:hover{
  text-decoration: none;
  color:#e0a80d;
}
.contact-text ul li h6 {
  font-family: Cera-Pro-Medium, sans-serif;
  margin-right: 0.5rem;
}
.contact-text hr{
  border-top: 2px solid #404242;
  margin-bottom: 5rem;
}
.footer-social{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.footer-social h1{
  font-size: 2.8rem;
  margin: 0 14rem 1rem 0;
}
.footer-social h1 span{
  display: block;
  padding: 1rem 0 0;
  font-size: 4rem;
}
/*------------end contact-------*/

/*------------END main -------*/

/*------------Preloader -------*/
#hellopreloader>p{display:none;}
#hellopreloader_preload{
  display: block;
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 1000px;
  background: #2b2c2c url(http://hello-site.ru//main/images/preloads/puff.svg) center center no-repeat;background-size:69px;}
/*------------END Preloader -------*/

/*--------------------------media-------------------------------------------------------------------------------------*/
@media screen and (max-width: 1440px) {
  .prof-name h3 {
    margin: 1rem 14rem 1rem 0;
  }
  .name ul li {
    padding-right: 4rem;
  }

}
@media screen and (max-width: 1199px) {
  .my-photo {
    padding: 6rem 2rem 0 0;
  }

}
@media screen and (max-width: 992px) {
  .name .d-flex {
    margin-top: 2rem;
    flex-wrap: wrap;
  }
  .name ul li p a, .name ul li p {
    margin: 0.5rem 0 1rem;
  }
  .contact-text .d-flex {
    flex-direction: column;
  }

}
@media screen and (max-width: 768px) {
  .my-photo {
    padding: 2rem 0 1rem 0;
    justify-content: center;
  }
  .name {
    padding: 1rem 0 0 0;
  }
  .name-content{
   text-align: center;
  }
  .name .d-flex {
    text-align: center;
    flex-direction: column;
  }
  .name ul li {
    padding-right: 0;
  }
  .prof-name h3 {
    margin: 1rem 0 1rem 0;
  }
  .prof-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .expertise-title, .skills-title, .experiens-title, .education-title, .certificate-title, .portfolio-title, .contact-title, .intro-title {
    padding: 1rem 1rem 0;
    text-align: center;
  }
  .expertise-text, .skills-text, .certificate-text, .portfolio-text, .contact-text, .intro-text {
    padding: 1rem 2rem;
    text-align: left;
  }
  .experiens-text, .education-text{
    padding: 0 1rem 0 1.5rem;
  }
  .skills-text {
    padding: 0 1rem 3rem;
  }
  .certificate-text, .skills-text, .expertise-text, .footer-social,
  .portfolio-text {
    justify-content: center;
  }
  .contact-text .d-flex {
    align-items: center;
  }

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 565px) {
  .expertise-text, .skills-text, .certificate-text, .portfolio-text, .contact-text, .intro-text {
    padding: 1rem;
  }
  .education-text ul li p, .experiens-text ul li p {
    margin-left: 1rem;
    width: 100%;
  }

  .expertise-text{
    padding-left: 2rem;
  }
  .portfolio-images {
    margin: 0 0 1.8rem 0;
  }
  .contact-text hr {
    margin-bottom: 2rem;
  }
  .footer-social h1 {
    margin: 0 0 1rem 0;
    text-align: center;
  }



}
@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {
  .progress__bar {
    width: 290px;}
  .portfolio-images {
    width: 100%;}

}

