@font-face {
  font-family: Cera-Pro-Light;
  src: url(../fonts/Cera-Pro-Light.otf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Cera-Pro-Medium;
  src: url(../fonts/Cera-Pro-Medium.otf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Cera-Pro-Regular;
  src: url(../fonts/Cera-Pro-Regular.otf);
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: Cera-Pro-Bold;
  src: url(../fonts/Cera-Pro-Bold.otf);
  font-weight: normal;
  font-style: normal; }
html {
  position: relative;
  min-height: 100%; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

.container-fluid {
  padding-right: 0;
  padding-left: 0; }

.container {
  padding-left: 0;
  padding-right: 0;
  max-width: 1170px; }

.row {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0; }

a {
  text-decoration: none;
  border-color: transparent; }

:active, :hover, :focus {
  outline: 0;
  outline-offset: 0; }

a:active, a:focus {
  outline: none; }

input {
  outline: 0 !important; }

button:active, button:focus {
  outline: none; }

.form-control:focus,
.btn:focus {
  outline: 0;
  box-shadow: none; }

button::-moz-focus-inner {
  border: 0; }

input {
  outline: none; }

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
  -webkit-text-fill-color: #303549 !important;
  color: #303549 !important; }

body {
  font-family: Cera-Pro-Regular, sans-serif;
  margin-bottom: 320px;
  background: #ededed; }

.wrapper {
  min-width: 320px;
  max-width: 100%;
  min-height: 100%;
  height: 100%; }

/*------------header--------*/
.my-photo {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  background: #2b2c2c;
  padding: 6rem 7rem 0 0; }

.my-photo img {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  background: #fff; }

.name {
  background: #2d2e2e;
  padding: 7rem 0 3rem 5rem; }

.name h1 {
  font-size: 3.8rem;
  color: #979899;
  text-transform: lowercase; }

.name h1 span {
  font-family: Cera-Pro-Bold, sans-serif;
  color: #e0a80d;
  text-transform: uppercase;
  font-size: 5.8rem; }

.prof-name {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap; }

.prof-name h3 {
  font-family: Cera-Pro-Light, sans-serif;
  color: #979899;
  font-size: 1.5rem;
  margin: 1rem 20rem 1rem 0; }

.social-icons svg {
  fill: #979899;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 0.2rem;
  border-radius: 3px; }

.social-icons svg:hover {
  fill: #e0a80d; }

.name .d-flex {
  border-top: 1px solid  #404242;
  padding: 1rem 0;
  margin-top: 10rem; }

.name ul li {
  font-family: Cera-Pro-Medium, sans-serif;
  list-style: none;
  color: #979899;
  padding-right: 10rem; }

.name ul li p a,
.name ul li p {
  font-family: Cera-Pro-Light, sans-serif;
  margin: 1rem 0;
  color: #979899;
  text-decoration: none; }

.name ul li p a:hover {
  color: #e0a80d; }

/*------------END header--------*/
/*------------main--------*/
/*------------intro--------*/
.expertise-title, .skills-title,
.intro-title {
  background: #292a2a;
  color: #979899;
  padding: 4rem 5rem;
  text-align: right; }

.expertise-title h3, .expertise-text h3, .skills-title h3,
.intro-title h3 {
  font-family: Cera-Pro-Medium, sans-serif;
  font-size: 18px;
  text-transform: uppercase; }

.expertise-title p, .skills-title p,
.intro-title p {
  font-size: 14px;
  margin: 1rem 0; }

.expertise-text, .skills-text,
.intro-text {
  font-family: Cera-Pro-Light, sans-serif;
  background: #2b2c2a;
  color: #979899;
  padding: 4rem 5rem;
  text-align: left;
  line-height: 24px; }

.expertise-text p,
.intro-text p {
  margin-bottom: 1rem;
  font-size: 17px; }

/*------------end intro--------*/
/*------------expertise--------*/
.expertise-title {
  background: #2b2c2c; }

.expertise-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #2d2e2e; }

.expertise-text div {
  width: 45%;
  margin: 0 2rem 2rem 0; }

.expertise-text h3 span {
  color: #e0a80d;
  margin: 0 0.8rem 0 -1rem; }

.expertise-text div p {
  font-size: 14px; }

/*------------end expertise--------*/
/*------------skills--------*/
.skills-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.8rem 5rem 4rem; }

.skills-text #label {
  display: inline-block;
  font-family: Cera-Pro-Medium, sans-serif;
  color: #e0a80d;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 2rem 1rem 0.3rem 0; }

.skills-text span {
  font-family: Cera-Pro-Medium, sans-serif;
  color: #979899;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0 1rem 1rem 0; }

#progress__bar {
  width: 350px;
  position: relative;
  height: 5px;
  background: #404242; }

#progress__bar-line {
  position: absolute;
  width: 10%;
  height: 100%;
  background: #e0a80d; }

/*------------end skills--------*/
/*------------END main -------*/
footer {
  position: absolute;
  font-family: BlissPro-Regular, sans-serif;
  bottom: 0;
  width: 100%;
  height: 320px;
  background-color: #40454a;
  padding: 2rem 0; }

/*--------------------------media-------------------------------------------------------------------------------------*/
@media screen and (max-width: 1440px) {
  .prof-name h3 {
    margin: 1rem 14rem 1rem 0; }

  .name ul li {
    padding-right: 5rem; } }

/*# sourceMappingURL=style.css.map */
