//import file style
@import'fonts';
//END import file style

//sass varible
$font-braun: #292929;
$font-braun-light: #1b1c1f;
$font-blue: #00458f;
$font-red: #ff4f31;
$font-grey: #8399b0;
//END sass varible

//sass mixin
@mixin main-btn($color, $bg-color, $padding, $bor-radius){
  color: $color;
  background: $bg-color;
  padding: $padding;
  border-radius: $bor-radius;
}
@mixin box-shadow($h-length, $v-length, $blur, $color){
  -o-box-shadow:$h-length $v-length $blur $color;
  -moz-box-shadow:$h-length $v-length $blur $color;
  -webkit-box-shadow:$h-length $v-length $blur $color;
  box-shadow:$h-length $v-length $blur  $color;
}
//END sass mixin

html {
  position: relative;
  min-height: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0;
}
.container{
  padding-left: 0;
  padding-right: 0;
  max-width: 1170px;
}
.row {
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}
a{
  text-decoration: none;
  border-color:transparent;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
a:active, a:focus { outline: none; }
input {
  outline: 0 !important;
}
button:active, button:focus {
  outline: none;
}
.form-control:focus,
.btn:focus {
  outline: 0;
  box-shadow:none;
}
button::-moz-focus-inner {
  border: 0;
}
input {outline: none;}
input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 50px #fff !important;
  -webkit-text-fill-color: #303549 !important;
  color: #303549 !important;
}

body {
  font-family: Cera-Pro-Regular, sans-serif;
}
.wrapper {
  min-width: 320px;
  max-width: 100%;
  min-height: 100%;
  height: 100%;
}
/*------------header--------*/
.my-photo {
  display: flex;
  justify-content: flex-end;
  /* align-items: center; */
  background: #2b2c2c;
  padding: 6rem 7rem 0 0;
}
.my-photo img{
  width:14rem;
  height: 14rem;
  border-radius: 50%;
  background: #fff;
}
.name{
  background: #2d2e2e;
  padding: 7rem 0 3rem 5rem;
}
.footer-social h1,
.name h1{
  font-size: 3.8rem;
  color: #979899;
  text-transform: lowercase;
}
.footer-social h1 span,
.name h1 span{
  font-family: Cera-Pro-Bold, sans-serif;
  color: #e0a80d;
  text-transform: uppercase;
  font-size: 5.8rem;
}
.prof-name{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.prof-name h3{
  font-family: Cera-Pro-Light, sans-serif;
  color: #979899;
  font-size: 1.5rem;
  margin:1rem 20rem 1rem 0;
}
.social-icons svg{
  fill: #979899;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem 0.2rem;
  border-radius: 3px;
}
.social-icons svg:hover{
  fill: #e0a80d;
}
//.name hr{
//  background: #404242;
//  margin-top: 10rem;
//}
.name .d-flex{
  border-top: 1px solid  #404242;
  padding: 1rem 0;
  margin-top: 10rem;
}
.name ul li {
  font-family: Cera-Pro-Medium, sans-serif;
  list-style: none;
  color: #979899;
  padding-right:10rem ;
}
.name ul li p a,
.name ul li p{
  font-family: Cera-Pro-Light, sans-serif;
  margin: 1rem 0;
  color: #979899;
  text-decoration: none;
}
.name ul li p a:hover{
  color: #e0a80d;
}

/*------------END header--------*/


/*------------main--------*/

/*------------intro--------*/
.expertise-title, .skills-title, .experiens-title, .education-title, .certificate-title, .portfolio-title, .contact-title,
.intro-title{
  background: #292a2a;
  color: #979899;
  padding: 4rem 5rem;
  text-align: right;
}
.expertise-title h3, .expertise-text h3, .skills-title h3, .certificate-title h3, .portfolio-title h3, .contact-title h3,
.experiens-title h3, .experiens-text ul li h3, .education-text ul li h3, .education-title h3, .certificate-text h3,
.intro-title h3{
  font-family: Cera-Pro-Medium, sans-serif;
  font-size:18px;
  text-transform: uppercase;
}
.expertise-title p, .skills-title p, .experiens-title p, .education-title p, .certificate-title p,
.portfolio-title p, .contact-title p,
.intro-title p{
  font-size: 14px;
  margin: 1rem 0;
}
.expertise-text, .skills-text, .experiens-text, .education-text, .certificate-text,
.portfolio-text, .contact-text,
.intro-text{
  font-family: Cera-Pro-Light, sans-serif;
  background: #2b2c2a;
  color: #979899;
  padding: 4rem 5rem;
  text-align: left;
  line-height: 24px;
}
.expertise-text p, .experiens-text p, .education-text p, .certificate-text p, .portfolio-text p, .contact-text p,
.intro-text p{
  margin-bottom: 1rem;
  font-size: 17px;
}
/*------------end intro--------*/

/*------------expertise--------*/
.expertise-title{
background: #2b2c2c;
}
.expertise-text{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  background: #2d2e2e;
}
.expertise-text div {
  width: 300px;
  margin: 0 2rem 2rem 0;
}
.expertise-text h3 span{
  color: #e0a80d;
  margin: 0 0.8rem 0 -1rem;
}
.expertise-text div p{
  font-size: 14px;
}
/*------------end expertise--------*/


/*------------skills--------*/

.skills-text{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1.8rem 5rem 4rem;
}
#label-css, #label-bootstrap, #label-flexbox, #label-sass, #label-webpack, #label-js, #label-jquery, #label-git,
#label-vue,
 #label-html {
  display: inline-block;
  font-family: Cera-Pro-Medium, sans-serif;
  color: #e0a80d;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 2rem 1rem 0.3rem 0;
}
.skills-text span{
  font-family: Cera-Pro-Medium, sans-serif;
  color: #979899;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin: 0 1rem 1rem 0;
}
.progress__bar {
  width: 350px;
  position: relative;
  height: 5px;
  background: #404242;
}
#progress__bar-css, #progress__bar-bootstrap, #progress__bar-flexbox, #progress__bar-sass, #progress__bar-webpack,
#progress__bar-js, #progress__bar-vue, #progress__bar-git,
#progress__bar-jquery,
#progress__bar-html {
  position: absolute;
  width: 10%;
  height: 100%;
  background: #e0a80d;
}
/*------------end skills--------*/

/*------------experiens--------*/

.experiens-title{
  background: #2b2c2c;
}
.experiens-text{
  background: #2d2e2e;
  padding: 4rem 5rem 0;
}
.education-text ul li,
.experiens-text ul li{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 2rem 0;
  line-height: 22px;
  border-left: 2px solid #404242;
}
.education-text ul li span,
.education-text ul li time,
.experiens-text ul li span,
.experiens-text ul li time{
  font-size: 0.7rem;
  color:#979899;
}
.education-text ul li h6,
.experiens-text ul li h6{
  font-family: Cera-Pro-Medium, sans-serif;
  font-size: 0.8rem;
  color:#a4a5a6;
}
.education-text ul li p,
.experiens-text ul li p {
  font-size: 0.9rem;
  color: #979899;
  margin-left: 2rem;
  width: 60%;
}
.education-text .timeline-point,
.experiens-text .timeline-point {
  height: 10px;
  width: 10px;
  position: relative;
  left: -6px;
  top: 9px;
  background: #e0a80d;
  border-radius: 50%;
  box-shadow: 0 0 0 9px #2d2e2e;
}
.experiens-time{
  width: 300px;
  margin:0 0 0 1rem;
}
/*------------end experiens--------*/

/*------------education--------*/
.education-title{
  background: #292a2a;
}
.education-text{
  background: #2b2c2a;
  padding: 0 5rem 4rem;
}
.education-text .timeline-point{
  box-shadow: 0 0 0 9px #2b2c2a;
}
.education-text ul .education-last {
  padding-top: 4rem;
}
.education-text ul li:last-child {
  border: none;
}
/*------------end education-------*/

/*------------certificate-------*/
.contact-title,
.certificate-title{
  background: #2b2c2c;
}
//.certificate-text div{
//  width: 40%;
//  margin-right: 2rem;
//}
.certificate-text .portfolio-images {
  height: 14rem;
  margin-top: 1rem;
}
.certificate-text{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  background: #2d2e2e;
}
.certificate-text hr {
  border-top: 5px solid #e0a80d;
  width:35%;
}
.certificate-text div p{
  font-size: 0.9rem;
  color: #979899;
}
/*------------end certificate-------*/

/*------------portfolio-------*/
.portfolio-text{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.portfolio-images{
  position: relative;
  display: inline-block;
  overflow:hidden;
  width: 20rem;
  height: 10rem;
  margin: 0 2rem 1.8rem 0;
}
.portfolio-images img{
  width: 100%;
  height: 100%;
  padding: 0;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}
.portfolio-images img:hover{

  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.portfolio-images .portfolio-hover{

  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 15px;
  -moz-transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.portfolio-images:hover .portfolio-hover{
  opacity: 1;
  background: rgba(0, 0, 0, 0.4);
}
/*------------end portfolio-text-------*/

/*------------contact-------*/
.contact-text{
  background: #2d2e2e;
}
.contact-text ul li{
  list-style: none;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  padding: 0 2rem 0 0;
}
.contact-text ul li p,
.contact-text ul li a{
  font-family: Cera-Pro-Light, sans-serif;
  color: #979899;
  font-size: 0.9rem;
}
.contact-text ul li a:hover,
.contact-text ul li p:hover{
  text-decoration: none;
  color:#e0a80d;
}
.contact-text ul li h6 {
  font-family: Cera-Pro-Medium, sans-serif;
  margin-right: 0.5rem;
}
.contact-text hr{
  border-top: 2px solid #404242;
  margin-bottom: 5rem;
}
.footer-social{
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}
.footer-social h1{
  font-size: 2.8rem;
  margin: 0 14rem 1rem 0;
}
.footer-social h1 span{
  display: block;
  padding: 1rem 0 0;
  font-size: 4rem;
}
/*------------end contact-------*/

/*------------END main -------*/



/*--------------------------media-------------------------------------------------------------------------------------*/
@media screen and (max-width: 1440px) {
  .prof-name h3 {
    margin: 1rem 14rem 1rem 0;
  }
  .name ul li {
    padding-right: 5rem;
  }

}
@media screen and (max-width: 1199px) {


}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {


}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 565px) {

}
@media screen and (max-width: 500px) {

}
@media screen and (max-width: 400px) {


}

